[Unit]
Description=Bring up network interfaces for VDI installer
After=systemd-udevd.service
Before=vdi-setup-installer.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'for i in /sys/class/net/{eth*,en*,ib*}; do [ -e "$i" ] || continue; ip link set $(basename $i) up; done'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
