SERIAL 0 115200
CONSOLE 0
DEFAULT install
PROMPT 1
TIMEOUT 50

LABEL install
    MENU LABEL ^Install VDI Cluster
    KERNEL /casper/vmlinuz
    APPEND initrd=/casper/initrd boot=live live-media-path=/casper vga=791 console=ttyS0,115200 console=tty0 ---

LABEL shell
    MENU LABEL ^VDI Live Shell
    KERNEL /casper/vmlinuz
    APPEND initrd=/casper/initrd boot=live live-media-path=/casper text vga=791 console=ttyS0,115200 console=tty0 ---

LABEL safe
    MENU LABEL ^Safe Mode
    KERNEL /casper/vmlinuz
    APPEND initrd=/casper/initrd boot=live live-media-path=/casper nomodeset text vga=791 console=ttyS0,115200 console=tty0 ---
