serial --unit=0 --speed=115200
terminal_input serial console
terminal_output serial console

set default=0
set timeout=30
set color_normal=white/black
set color_color_highlight=black/light-gray

menuentry "Install VDI Cluster ${vdi_version}" {
    linux /casper/vmlinuz boot=live live-media-path=/casper console=ttyS0,115200 console=tty0 ---
    initrd /casper/initrd
}

menuentry "VDI Live Shell" {
    linux /casper/vmlinuz boot=live live-media-path=/casper text console=ttyS0,115200 console=tty0 ---
    initrd /casper/initrd
}

menuentry "Install VDI Cluster (Safe Mode)" {
    linux /casper/vmlinuz boot=live live-media-path=/casper nomodeset text console=ttyS0,115200 console=tty0 ---
    initrd /casper/initrd
}
