search --no-floppy --file --set=root /boot/kernel
set default=0
set timeout=10
set timeout_style=menu
set linux=linux
set initrd=initrd

if [ "${grub_cpu}" = "x86_64" -o "${grub_cpu}" = "i386" ];then
    if [ "${grub_platform}" = "efi" ]; then
        set linux=linuxefi
        set initrd=initrdefi
    fi
fi

menuentry "VDI Installer" --class os --unrestricted {
    echo Loading kernel...
    $linux ($root)/boot/kernel cdroot root=live:CDLABEL=VDI_LIVE rd.live.dir=/ rd.live.squashimg=rootfs.squashfs console=tty0 console=ttyS0,115200n8 net.ifnames=1 enforcing=0
    echo Loading initrd...
    $initrd ($root)/boot/initrd
}

menuentry "VDI Installer (Debug)" --class os --unrestricted {
    echo Loading kernel...
    $linux ($root)/boot/kernel cdroot root=live:CDLABEL=VDI_LIVE rd.live.dir=/ rd.live.squashimg=rootfs.squashfs console=tty0 console=ttyS0,115200n8 net.ifnames=1 enforcing=0 debug
    echo Loading initrd...
    $initrd ($root)/boot/initrd
}
