DEFAULT vdi
LABEL vdi
    SAY VDI Installer
    LINUX /boot/kernel
    APPEND initrd=/boot/initrd root=live:CDLABEL=VDI_LIVE rd.live.dir=/ rd.live.squashimg=rootfs.squashfs console=tty1 net.ifnames=1 selinux=0
